

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
	<link href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

v
	<style>
	
		.navbar {
	      border-top:0; 
		  border-right:0; 
		  border-left:0; 
		  border-bottom:1;
		  border-bottom-width:3px;
	      border-radius: 0;
	      margin-bottom: 20px;
	      font-size: 25px;
	      letter-spacing: 2px;
		  height: 60px;
		}
		
		.container-fluid {
			padding-top: 20px;
			margin-top: 70px;

			padding-bottom: 20px;
		}
		
		#cont3 {
			font-family:"Varela Round";
		}
		
		.form-control{
		 border-radius:0;
		 border-top:0; 
		 border-right:0; 
		 border-left:0; 
		 border-bottom:1;
		}
	
		#myCarousel * {
		border-radius:10px;
		}
		
		#submitPenerbangan:hover {
			background-color:transparent!important;
		}

		.footer-distributed{
			background-color: #292c2f;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
			box-sizing: border-box;
			width: 100%;
			text-align: left;
			font: normal 16px sans-serif;

			padding: 45px 50px;
			margin-top: 433px;
		}

		.footer-distributed .footer-left p{
			color:  #8f9296;
			font-size: 14px;
			margin: 0;
		}

		.footer-distributed p.footer-links{
			font-size:18px;
			font-weight: bold;
			color:  #ffffff;
			margin: 0 0 10px;
			padding: 0;
		}

		.footer-distributed p.footer-links a{
			display:inline-block;
			line-height: 1.8;
			text-decoration: none;
			color:  inherit;
		}

		.footer-distributed .footer-right{
			float: right;
			margin-top: 6px;
			max-width: 180px;
		}

		.footer-distributed .footer-right a{
			display: inline-block;
			width: 35px;
			height: 35px;
			background-color:  #33383b;
			border-radius: 2px;

			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 35px;

			margin-left: 3px;
		}

		@media (max-width: 600px) {

			.footer-distributed .footer-left,
			.footer-distributed .footer-right{
				text-align: center;
			}

			.footer-distributed .footer-right{
				float: none;
				margin: 0 auto 20px;
			}

			.footer-distributed .footer-left p.footer-links{
				line-height: 1.8;
			}
		}
	
	</style>
</head>

<body>

	<nav class ="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<div class="row">
			<div class="col-md-4" style="position:absolute; left:40px; top: 3px;">
				<p id="cari" style="color:#434343; position:absolute; left:40px; top: 5px;">Heart Sound Detection</p>
				<p style="font-size: 10px; position:absolute; left:40px; top:40px; width:300px">Thesis by : Johan Tandy (535140033)</p>
			</div>
			
			<div class="container-fluid">

    <ul class="nav navbar-nav" style="position:absolute; left:680px; top: 3px">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="dataseta.php" >Dataset A</a></li>
      <li><a href="datasetb.php">Dataset B</a></li>
      <li><a href="feature.php">Feature</a></li>
    </ul>
  </div>
		
		</div>
	</nav>
	
	<div id="cont2" class="container-fluid" style="background-color: transparent; width: 1100px; color:white; font-family:Varela Round">

		
		<div id="boxCari">
		<h3 class="col-md-3" style="font-size:20px; background-color:#292c2f; color:white; border:1px solid #292c2f; width:500px; height:40px; position:absolute; top:140px; left: 80px; border-radius: 5px 5px 0px 0px; padding-top:10px;">Dataset A</h3>
		<h3 class="col-md-3" style="font-size:20px; background-color:#292c2f; color:white; border:1px solid #292c2f; width:500px; height:40px; position:absolute; top:140px; left: 680px; border-radius: 5px 5px 0px 0px; padding-top:10px;">Dataset B</h3>
		
		<form action="travelpediabook" style="position:absolute; top:140px; left: 135px;" method="post" > 
		<div class="row" style="margin-top:60px;">
			<div class="col-md-4" style="border:1px solid #292c2f; width: 500px; height:130px; padding-top:15px; margin-left:-40px; border-radius: 0px 5px 5px 5px;">
				<div class="row" style="padding-left:17px;">
				<select style="box-shadow:none; width:200px; opacity:1; margin-bottom:10px; margin-right:15px;" class="form-control col-md-2" name="penerbanganasal" placeholder="Layanan" required>
					<option value="" selected disabled>Class</option>
					<option value=0>Normal</option>
					<option value=1>Murmur</option>
					<option value=2>Extra Heart Sound</option>
					<option value=3>Artifact</option>
				</select>
				
    <label for="exampleInputFile" style="color:black; padding-bottom:10px" >File input</label>
    <input type="file" class="form-control-file" style ="width:250px; color:black; opacity:1; margin-top:-15px; margin-right:40px"id="exampleInputFile" aria-describedby="fileHelp">
   
				</div>
				
	
				
				<div class="row" style="padding-left:5px; padding-right:17px; margin-top:10px;">
				<div class="col-md-2">
				<input name="submit" type="submit" class="btn btn-default btn-block" style="transition-duration: 3s; background-color:#292c2f; border:1px solid #292c2f; color:white; outline:none; width:100px" value="Upload"></input>
				</div>
				<div class="col-md-2" style="padding-left:50px">
				<input name="submit" type="submit" class="btn btn-default btn-block" style="transition-duration: 3s; background-color:#292c2f; border:1px solid #292c2f; color:white; outline:none; width:100px" value="Train"></input>
				</div>
				</div>
			
				
			</div>
			
			<div class="col-md-4" style="border:1px solid #292c2f; width: 500px; height:130px; padding-top:15px; margin-left:100px; border-radius: 0px 5px 5px 5px;">
				<div class="row" style="padding-left:17px;">
				<select style="box-shadow:none; width:200px; opacity:1; margin-bottom:10px; margin-right:15px;" class="form-control col-md-2" name="penerbanganasal" placeholder="Layanan" required>
					<option value="" selected disabled>Class</option>
	 <option value=0>Normal</option>
  <option value=1>Murmur</option>
  <option value=2>Extra Systole</option>
				</select>
				
    <label for="exampleInputFile" style="color:black; padding-bottom:10px" >File input</label>
    <input type="file" class="form-control-file" style ="width:250px; color:black; opacity:1; margin-top:-15px; margin-right:40px"id="exampleInputFile" aria-describedby="fileHelp">
   
				</div>
				
	
				
				<div class="row" style="padding-left:5px; padding-right:17px; margin-top:10px;">
				<div class="col-md-2">
				<input name="submit" type="submit" class="btn btn-default btn-block" style="transition-duration: 3s; background-color:#292c2f; border:1px solid #292c2f; color:white; outline:none; width:100px" value="Upload"></input>
				</div>
				<div class="col-md-2" style="padding-left:50px">
				<input name="submit" type="submit" class="btn btn-default btn-block" style="transition-duration: 3s; background-color:#292c2f; border:1px solid #292c2f; color:white; outline:none; width:100px" value="Train"></input>
				</div>
				</div>
			
				
			</div>
		</div>
		</form>
		</div>
	</div>
	

	<footer class="footer-distributed">
		
		<div class="footer-left">
			
			<p>travelpedia &copy; 2017</p>
		</div>
	</footer>


	
</body>
</html>
