<!doctype html>
<html lang="en">
  <head>
  
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
  <style>
  .navbar {
	      padding-top: 10px;
	      padding-bottom: 0px;
	      border-top:0; 
		  border-right:0; 
		  border-left:0; 
		  border-bottom:1;
		  border-bottom-width:3px;
	      border-radius: 0;
	      margin-bottom: 0;
	      font-size: 25px;
	      letter-spacing: 2px;
		  height: 60px;
		}
  </style>
  
  </head>
  <body>
    <nav class ="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="row" style="margin-bottom: 0px;">
			  	<div class="col-md-4" style="position:absolute; left:40px; top: 3px;">
			  		<p style="font-size: 35px; color:#1AC1D5; position:absolute; left:40px; top: 5px;">Heart Murmur 	<span style="color:#42b549">Detector</span></p>
			  		<p style="font-size: 12px; position:absolute; left:43px; top:50px; width:500px">Thesis application by Johan Tandy (535140033)</p>
			  	</div>
				</div>
			</div>
		</div>
	</nav>
	
	<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="cid:${images}" width="30" height="30" alt="">
  </a>
</nav>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>